<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to My Biodata Page</h1>
   
    <h1 style="color: gold;">HOME HOME</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel eius asperiores numquam porro aliquid, earum veritatis ex iure temporibus, laudantium nemo quod blanditiis mollitia eligendi vero odio veniam et ipsum.</p>


</body>
</html>